<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container" style="display:none;">
        <div class="login-content">
            <span class="title-login">Login</span>
            <input type="text" id="username" placeholder="Usuário">
            <input type="password" id="password" placeholder="Senha">
            <input type="password" id="confirmPassword" placeholder="Confirmar Senha" style="display:none;">
            <span class="span-error"></span>
            <a id="btnVoltarLogin" href="#" style="display:none;">Voltar ao login</a>
            <a id="btnRegistrar" href="#">Registre-se</a>
            <button id="btnConfirmar">Confirmar</button>
        </div>
    </div>

    <h1>Sistema de Controle Financeiro</h1><button id="btnLogout">Logout</button>


</body>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script src="script.js"></script>
</html>