<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container" style="display:none;">
        <div class="login-content">
            <span class="title-login">Login</span>
            <input type="text" id="username" placeholder="Usuário">
            <input type="password" id="password" placeholder="Senha">
            <input type="password" id="confirmPassword" placeholder="Confirmar Senha" style="display:none;">
            <span class="span-error"></span>
            <a id="btnVoltarLogin" href="#" style="display:none;">Voltar ao login</a>
            <a id="btnRegistrar" href="#">Registre-se</a>
            <button id="btnConfirmar">Confirmar</button>
        </div>
    </div>

    <header>
        <h2>Sistema de Controle Financeiro</h2>
        <button id="btnLogout">Sair</button>
    </header>

    <section class="visao-geral">
        <div class="card" id="cardSaldo" style="background-color: rgb(61, 87, 156);">
            <span class="card-title">Saldo da Conta</span>
            <span class="card-value"></span>
        </div>
        <div class="card" id="cardEntradas" style="background-color: rgb(74, 156, 111);">
            <span class="card-title">Entradas</span>
            <span class="card-value"></span>
        </div>
        <div class="card" id="cardSaidas" style="background-color: rgb(168, 60, 60);">
            <span class="card-title">Saídas</span>
            <span class="card-value"></span>
        </div>
    </section>
    
    <section class="movimentos">
        <div class="botoes-movimentos">
            <button type="button" id="btnEntrada" style="background-color: rgb(74, 156, 111);">Cadastrar entrada</button>
            <button type="button" id="btnSaida" style="background-color: rgb(168, 60, 60);">Cadastrar saída</button>
        </div>
        <div class="form-movimentos" id="formEntrada" style="display:none;">
            <input id="entrada" type="number">
            <button class="movimentos-cancelar">Cancelar</button>
            <button class="movimentos-confirmar">Confirmar</button>
        </div>
        <div class="form-movimentos" id="formSaida" style="display:none;">
            <input id="saida" type="number">
            <select id="tipoSaida">
                <option value="2">Entretenimento</option>
                <option value="3">Alimentação</option>
                <option value="4">Educação</option>
                <option value="5">Sáude</option>
                <option value="6">Transporte</option>
            </select>
            <button class="movimentos-cancelar">Cancelar</button>
            <button class="movimentos-confirmar">Confirmar</button>
        </div>
    </section>

    <section class="extrato">
        <h1>Extrato</h1>
        <table class="table-extrato">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th style="width:1px;"></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>Entretenimento</td>
                    <td>R$10,00</td>
                    <td>02/11/2022</td>
                    <td>todo btns</td>
                </tr> -->
            </tbody>
            </table>
        </table>
    </section>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
<script src="lib/moment.js"></script>
<script src="script.js"></script>
</html>